USE [TuDienDuoc_Demo]
GO
/****** Object:  Table [dbo].[Account]    Script Date: 30/01/2023 19:42:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account](
	[IdAccount] [int] NOT NULL,
	[IdStudent] [int] NOT NULL,
	[IdTeacher] [int] NOT NULL,
	[Username] [text] NULL,
	[Password] [text] NULL,
	[Email] [text] NULL,
	[Permission] [numeric](8, 0) NULL,
	[Active] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdAccount] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 30/01/2023 19:42:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[IdCategory] [int] NOT NULL,
	[IdFaculty] [int] NOT NULL,
	[Subject] [text] NULL,
	[Word] [text] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdCategory] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietHoc]    Script Date: 30/01/2023 19:42:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietHoc](
	[Stu_IdStudent] [int] NOT NULL,
	[Wor_IdWord] [int] NOT NULL,
	[IdStudent] [int] NULL,
	[IdWord] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Stu_IdStudent] ASC,
	[Wor_IdWord] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Class]    Script Date: 30/01/2023 19:42:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Class](
	[IdClass] [int] NOT NULL,
	[IdFaculty] [int] NOT NULL,
	[ClassName] [text] NULL,
	[IdFacculty] [text] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdClass] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Faculty]    Script Date: 30/01/2023 19:42:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Faculty](
	[IdFaculty] [int] NOT NULL,
	[FacultyName] [text] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdFaculty] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Funtion]    Script Date: 30/01/2023 19:42:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Funtion](
	[Id] [char](10) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoaiAcc]    Script Date: 30/01/2023 19:42:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiAcc](
	[Id] [char](10) NULL,
	[Permission] [numeric](8, 0) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Student]    Script Date: 30/01/2023 19:42:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Student](
	[IdStudent] [int] NOT NULL,
	[IdClass] [int] NOT NULL,
	[IdAccount] [int] NOT NULL,
	[Gender] [bit] NULL,
	[IdFacculty] [text] NULL,
	[Active] [bit] NULL,
	[Name] [text] NULL,
	[BirthDay] [date] NULL,
	[DateCreated] [date] NULL,
	[Catagory] [text] NULL,
	[ClassName] [text] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdStudent] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Teacher]    Script Date: 30/01/2023 19:42:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Teacher](
	[IdTeacher] [int] NOT NULL,
	[IdAccount] [int] NOT NULL,
	[Gender] [bit] NULL,
	[ClassName] [text] NULL,
	[IdFacculty] [text] NULL,
	[Active] [bit] NULL,
	[Name] [text] NULL,
	[BirthDay] [date] NULL,
	[DateCreated] [date] NULL,
	[Catagory] [text] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdTeacher] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Word]    Script Date: 30/01/2023 19:42:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Word](
	[IdWord] [int] NOT NULL,
	[IdCategory] [int] NOT NULL,
	[Name] [text] NULL,
	[Mean] [text] NULL,
	[Frequency] [text] NULL,
	[IPA] [float] NULL,
	[Labels] [text] NULL,
	[LemmaList] [text] NULL,
	[Subject] [text] NULL,
	[Cluster] [text] NULL,
	[Exam] [text] NULL,
	[Exam_vi] [text] NULL,
	[Source] [text] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdWord] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[Account] ([IdAccount], [IdStudent], [IdTeacher], [Username], [Password], [Email], [Permission], [Active]) VALUES (1, 1, 1, N'1ABC', N'123456', N'1ABC@gmail.com', CAST(2 AS Numeric(8, 0)), 1)
INSERT [dbo].[Account] ([IdAccount], [IdStudent], [IdTeacher], [Username], [Password], [Email], [Permission], [Active]) VALUES (2, 2, 2, N'2ABC', N'123456', N'2ABC@gmail.com', CAST(1 AS Numeric(8, 0)), 1)
GO
INSERT [dbo].[Category] ([IdCategory], [IdFaculty], [Subject], [Word]) VALUES (1, 1, N'Chuyen Nganh 1', N'A')
INSERT [dbo].[Category] ([IdCategory], [IdFaculty], [Subject], [Word]) VALUES (2, 1, N'Chuyen Nganh 2', N'B')
GO
INSERT [dbo].[ChiTietHoc] ([Stu_IdStudent], [Wor_IdWord], [IdStudent], [IdWord]) VALUES (1, 1, 1, 1)
GO
INSERT [dbo].[Class] ([IdClass], [IdFaculty], [ClassName], [IdFacculty]) VALUES (1, 1, N'19CT111', N'1')
INSERT [dbo].[Class] ([IdClass], [IdFaculty], [ClassName], [IdFacculty]) VALUES (2, 1, N'19CT112', N'1')
INSERT [dbo].[Class] ([IdClass], [IdFaculty], [ClassName], [IdFacculty]) VALUES (3, 2, N'19DT111', N'2')
GO
INSERT [dbo].[Faculty] ([IdFaculty], [FacultyName]) VALUES (1, N'CNTT')
INSERT [dbo].[Faculty] ([IdFaculty], [FacultyName]) VALUES (2, N'DP')
GO
INSERT [dbo].[Funtion] ([Id]) VALUES (N'1         ')
GO
INSERT [dbo].[LoaiAcc] ([Id], [Permission]) VALUES (N'1         ', CAST(1 AS Numeric(8, 0)))
INSERT [dbo].[LoaiAcc] ([Id], [Permission]) VALUES (N'2         ', CAST(2 AS Numeric(8, 0)))
INSERT [dbo].[LoaiAcc] ([Id], [Permission]) VALUES (N'3         ', CAST(2 AS Numeric(8, 0)))
GO
INSERT [dbo].[Student] ([IdStudent], [IdClass], [IdAccount], [Gender], [IdFacculty], [Active], [Name], [BirthDay], [DateCreated], [Catagory], [ClassName]) VALUES (1, 1, 1, 1, N'1', 1, N'Nguy?n Van A', CAST(N'2001-01-01' AS Date), CAST(N'2023-01-29' AS Date), N'1', N'19CT112')
GO
INSERT [dbo].[Teacher] ([IdTeacher], [IdAccount], [Gender], [ClassName], [IdFacculty], [Active], [Name], [BirthDay], [DateCreated], [Catagory]) VALUES (1, 2, 1, N'19CT112', N'1', 1, N'Nguyen Van B', CAST(N'1995-01-01' AS Date), CAST(N'2023-01-29' AS Date), N'1')
GO
INSERT [dbo].[Word] ([IdWord], [IdCategory], [Name], [Mean], [Frequency], [IPA], [Labels], [LemmaList], [Subject], [Cluster], [Exam], [Exam_vi], [Source]) VALUES (1, 1, N'benefit', N'l?i ích', N'1410', 1, N'noun', N'benefits', N'Guideline Asthma', N'benefit from', N'Although at a group level most benefit from ICS is obtained at a low dose, individual ICS responsiveness varies', N'Although at a group level most benefit from ICS is obtained at a low dose, individual ICS responsiveness varies', NULL)
GO
